In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
file_path = "C:\\Users\\HP\\Downloads\\1ihs0-uqa7x.xlsx"
full_data = pd.read_excel(file_path, engine="openpyxl")
full_data.head()

,First Name,Last Name,Display Name,Nickname,E-mail Address,E-mail 2 Address,E-mail 3 Address,Home Phone,Business Phone,Home Fax,...,Job Title,Department,Organization,Notes,Birthday,Anniversary,Gender,Web Page,Web Page 2,Categories
0,Aarna Divya Makeup Artist,NaN,Aarna Divya Makeup Artist,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Abhi Padmashree,NaN,Abhi Padmashree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abhishek,NaN,Abhishek,NaN,NaN,NaN,NaN,+91 80736 68281,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abhishek,NaN,Abhishek,NaN,NaN,NaN,NaN,918073668281,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Abiga Opposite House,NaN,Abiga Opposite House,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
full_data.columns

Index(['First Name', 'Last Name', 'Display Name', 'Nickname', 'E-mail Address',
       'E-mail 2 Address', 'E-mail 3 Address', 'Home Phone', 'Business Phone',
       'Home Fax', 'Business Fax', 'Pager', 'Mobile Phone', 'Home Street',
       'Home Address 2', 'Home City', 'Home State', 'Home Postal Code',
       'Home Country', 'Business Address', 'Business Address 2',
       'Business City', 'Business State', 'Business Postal Code',
       'Business Country', 'Country Code', 'Related name', 'Job Title',
       'Department', 'Organization', 'Notes', 'Birthday', 'Anniversary',
       'Gender', 'Web Page', 'Web Page 2', 'Categories'],
      dtype='object')

In [41]:
with_74=set()
for i in full_data["Home Phone"]:
    i=str(i)
    if(i[-2:])=="74":
        with_74.add(i)
for i in full_data["Mobile Phone"]:
    i=str(i)
    if(i[-2:])=="74":
        with_74.add(i)

918884818474
919606609774
919632127674
917892061574
+91 88840 36974
918792250674
917259278974
919449918574
919074549674
919405540774
918600501974
919241186274

In [52]:
filtered_rows=pd.DataFrame()
for i in  full_data:
    k=i["Home Phone"]
    k1=i["Mobile Phone"]
    k=str(k)
    k1=str(k1)
    if k in with_74 or k1 in with_74:
        print(i["Display Name"])

TypeError: string indices must be integers, not 'str'

In [57]:
filtered_rows = pd.DataFrame()

for index, row in full_data.iterrows():
    k = str(row["Home Phone"])
    k1 = str(row["Mobile Phone"])
    
    if k in with_74 or k1 in with_74:
        print(row["Display Name"])

anu
Harshitha March 31st Naming Ceromony
Keerthi Gowda 2
Manu Anna
Manasa MUA
Navyashankar Makeup Artistry and Academy
Nethra Mankro Huts
ð‘ðˆð˜ð€ ð‘ðŽð˜ Model
Sudha Megha Monica
Supriya Mua Master Class
nan
Netravati Parbhani Master Class ðŸŽ“

In [3]:
file_path = "C:\\Users\\HP\\Desktop\\FInally filterd\\Finally listed as avilable.xlsx"
full_data = pd.read_excel(file_path, engine="openpyxl")
full_data.head()

   Mobile Number
0    919880161000
1    919880162766
2    919880166648
3    919880166855
4    919880168901

In [8]:
full_length=len(full_data['Mobile Number '])
i=0
new_df=pd.DataFrame()
new_df['mobile']=full_data.iloc[i:100]
k=1
while i<=full_length:
    new_df=pd.DataFrame()
    new_df['mobile numbers']=full_data[i:i+80]
    newExcel = os.path.join('C:\\Users\\HP\\Desktop\\filtered splits', f'filtered{k}.xlsx')
    k+=1
    new_df.to_excel(newExcel,index=False)
    i=i+80

In [2]:
numbers1=set()
numbers2=set()
numbers3=set()                                                                                                                                                                                                                                                                                                                                             
phone_number_col=0         
folder_path = "C:\\Users\\HP\\Desktop\\Data Base"
files=os.listdir(folder_path)
XLSX=list()                
XLS=list()
CSV=list()
removed=list()
for i in files:
    if i[len(i)-4:]=="xlsx":
        XLSX.append(i)
    elif i[len(i)-4:]==".xls":
        XLS.append(i)
    elif i[len(i)-4:]==".csv":
        CSV.append(i)
    else:
        removed.append(i)
combined_data = pd.DataFrame()

In [7]:
columns=["Company Name","Name","Secretary/PA","Stdcode","Address Line 2"]
exceptions=["companywithmgt_20210712 (1).csv"]
for file_name in CSV:
    if file_name in exceptions:
        continue
    print(file_name)
    print()
    df = pd.read_csv(folder_path+"\\"+file_name,encoding='latin-1')
    if "companywithmgt" in file_name:
        selected1=df[columns]
        combined_data=pd.concat([combined_data,selected1])
    
output_file_path = os.path.join(folder_path, 'combined_data_fandoo.xlsx')
combined_data.to_excel(output_file_path, index=False)

11012023_mail.csv

Black Box Data base 3rd feb 2022.csv

BLR Listed companies- 150 copy.csv

BLR Listed companies- 150.csv

Blr- 2 to 11- 150- 2nd Oct 2020 9 th april 2021.csv

companywithmgt_20210707 (4).csv

companywithmgt_20210707 (5).csv

companywithmgt_20210707 (6).csv

companywithmgt_20210707 (7).csv

companywithmgt_20210708 (1).csv

companywithmgt_20210708 (2).csv

companywithmgt_20210708 (3).csv

companywithmgt_20210708 (4).csv

companywithmgt_20210708 (5).csv

companywithmgt_20210708 (6).csv

companywithmgt_20210708 (7).csv

companywithmgt_20210708.csv

companywithmgt_20210709 (1).csv

companywithmgt_20210709 (2).csv

companywithmgt_20210709 (3).csv

companywithmgt_20210709 (4).csv

companywithmgt_20210709 (5).csv

companywithmgt_20210709.csv

companywithmgt_20210710 (1).csv

companywithmgt_20210710 (2).csv

companywithmgt_20210710 (3).csv

companywithmgt_20210710 (4).csv

companywithmgt_20210710 (5).csv

companywithmgt_20210710 (6).csv

companywithmgt_20210710 (7).csv

companywithmgt_20210710 (8).csv

companywithmgt_20210710 (9).csv

companywithmgt_20210710.csv

companywithmgt_20210712 (2).csv

companywithmgt_20210712 (3).csv

companywithmgt_20210712 (4).csv

companywithmgt_20210712 (5).csv

companywithmgt_20210712 (6).csv

companywithmgt_20210712 (7).csv

companywithmgt_20210712 (8).csv

companywithmgt_20210712.csv

companywithmgt_20210713 (1).csv

companywithmgt_20210713 (2).csv

companywithmgt_20210713 (3).csv

companywithmgt_20210713 (4).csv

companywithmgt_20210713 (5).csv

companywithmgt_20210713 (6).csv

companywithmgt_20210713 (7).csv

companywithmgt_20210713.csv

companywithmgt_20210714 (1).csv

companywithmgt_20210714 (10).csv

companywithmgt_20210714 (11).csv

companywithmgt_20210714 (2).csv

companywithmgt_20210714 (3).csv

companywithmgt_20210714 (4).csv

companywithmgt_20210714 (5).csv

companywithmgt_20210714 (6).csv

companywithmgt_20210714 (7).csv

companywithmgt_20210714 (8).csv

companywithmgt_20210714 (9).csv

companywithmgt_20210714.csv

companywithmgt_20210715 (1).csv

companywithmgt_20210715.csv

companywithmgt_20210716 (1).csv

companywithmgt_20210716 (2).csv

companywithmgt_20210716 (3).csv

companywithmgt_20210716 (4).csv

companywithmgt_20210716 (5) (1).csv

companywithmgt_20210716 (5).csv

companywithmgt_20210716 (6).csv

companywithmgt_20210716 (7).csv

companywithmgt_20210716.csv

companywithmgt_20210719 (1).csv

companywithmgt_20210719 (10).csv

companywithmgt_20210719 (2).csv

companywithmgt_20210719 (3).csv

companywithmgt_20210719 (4).csv

companywithmgt_20210719 (5).csv

companywithmgt_20210719 (6).csv

companywithmgt_20210719 (7).csv

companywithmgt_20210719 (8).csv

companywithmgt_20210719 (9).csv

contacts.csv

Industries List (1).csv

Industries List.csv

Karnataka Industries List.csv

mass mail email id.csv

In [6]:
unique_values=np.unique(combined_data) 
combined_data.to_excel(output_file_path, index=False)

In [30]:
columns=["Account Name","Email ID","Contact Number"]
exceptions=["Black Box.xls","karnataka data.xls","karnataka Location wise data.xls","Airtel mail's.xls","Copy of Bangalore_Master_Data 123(1).xls","Copy of Bangalore_Master_Data 123.xls","Copy of MASAB CONTROL SHEET (2).xls","Corpoprate customer data .xls","CUSTOMER DETAILS-MRO_TEK.xls","MASAB CONTROL SHEET.xls"]
with_multiple_sheets=["karnataka data.xls","karnataka Location wise data.xls"]
for file_name in XLS:
    if file_name in exceptions:
        continue 
    print(file_name)
    print()
    df = pd.read_excel(folder_path+"\\"+file_name)
    selected=[]
    for i in columns:
        if i in df:
            selected.append(i)
    if len(selected)==0:
        continue
    selected1=df[selected]
    combined_data=pd.concat([combined_data,selected1])
    
output_file_path = os.path.join(folder_path, 'combined_data.xlsx')
combined_data.to_excel(output_file_path, index=False)

AREAWISE DEALERS  (1) (1) - Copy.xls

Bangalore_Database (1) (1) - Copy.xls

Bangalore_Database (1) (1).xls

Bangalore_Database (2) (1) - Copy.xls

Bangalore_Database (2) (1).xls

Bangalore_Database.xls

complete AP DATA.xls

Confed ITA members database- orginal List (Autosaved).xls

Copy of Active Reseller Bangalore Data.xls

Copy of MUMBAI CUSTOMER CONTROL SHEET 1 (2).xls

Copy of tail customer list (28 sep 10) (2).xls

Copy of Upcountry Customer List (2).xls

Copy of Upcountry Customer List.xls

CUSTOMER DETAILS-SRIHARI.xls

Customer Details.xls

Customer karthick.xls

Daily report April.xls

Daily report May.xls

DATA BASE(1).xls

Database.xls

End Customer data base.xls

HP BANGALORE DAT A.xls

HP Data.xls

India ISP Oct2011 list.xls

karnataka-db.xls

Partner List Location wise.xls

Radha Full karnataka-data base.xls

SMS Database_ HP__060709(1).xls

SSP DB.xls

T3 customers  to handle.xls

VIZAG DATABASE.xls

In [53]:
df1=pd.read_excel("E:\\Data Base\\Fandoo data\\AREAWISE DEALERS  (1).xls")
df1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Sr. No,Company,Contact Person,Location,Address,email Id,Telephone No,Cell No
1,1,J D COMPUTERS GALLARY,DINESH,S P ROAD,"NO 16/2, A M LANE, 1ST CROSS, NEAR BALAJI COMP...",jdcomputergallary@yahoo.com,080-42058278,9342643936 / 9980207224
2,2,SIDHI VINAYAKA COMPUTERS,KISHOR PUROHIT,S P ROAD,"NO 17, A M LANE, NEAR BALAJI COMPLEX,S P ROAD ...",NaN,080-22998486 / 42197402,9663813892
3,3,RAJ SHREE COMPUTERS,JEETU,S P ROAD,"#89/5, GROUND FLOOR, S P RD, BANGALORE-02",rajshreecompjters.it@gmail.com,080-41143302,9886443178
4,4,SATYAM COMPUTER INC,ANIL,S P ROAD,"# 89/7, S P ROAD, BANGALORE-02",NaN,080-41765008 / 41241218,NaN

In [62]:


for filename in XLSX:
    try:
        df = pd.read_excel(folder_path+"\\"+filename, engine="openpyxl")
        k=df.shape
        i=0
        try:
            while i<k[0]:
                row=df.loc[i]
                found=False
                for j in range(len(row)):
                    if type(row.iloc[j])==int:
                        if len(str(row.iloc[j]))>=10 and len(str(row.iloc[j]))<=22:
                            phone_number_col=j
                            found=True
                            break
                i+=1
                if found:    
                    break
            for i1 in range(k[0]):
                try:
                    if type(df.iloc[i1,phone_number_col])==int:
                        if len(str(df.iloc[i1,phone_number_col]))>=10 and len(str(df.iloc[i1,phone_number_col]))<=22:
                            numbers1.add(df.iloc[i1,phone_number_col])
                except:
                    break
        except:
            print(filename)
    except:
        print(folder_path+"\\"+filename)

E:\Data Base\Fandoo data\Q1 2020-21 SO CDMS Tagging FINAL FOR CPS.xlsx
E:\Data Base\Fandoo data\Example.xlsx

c:\Users\HP\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [65]:
for filename in XLS:
    try:
        df = pd.read_excel(folder_path+"\\"+filename)
        k=df.shape
        i=0
        try:
            while i<k[0]:
                row=df.loc[i]
                found=False
                for j in range(len(row)):
                    if type(row.iloc[j])==int:
                        if len(str(row.iloc[j]))>=10 and len(str(row.iloc[j]))<=22:
                            phone_number_col=j
                            found=True
                            break
                i+=1
                if found:    
                    break
            for i1 in range(k[0]):
                try:
                    if type(df.iloc[i1,phone_number_col])==int:
                        if len(str(df.iloc[i1,phone_number_col]))>=10 and len(str(df.iloc[i1,phone_number_col]))<=22:
                            numbers2.add(df.iloc[i1,phone_number_col])
                except:
                    break
        except:
            print(filename)
    except:
        print(folder_path+"\\"+filename)

In [69]:
for filename in CSV:
    try:
        df = pd.read_csv(folder_path+"\\"+filename,encoding='latin-1')
        
        k=df.shape
        print("aa")
        try:
            k=""
            if filename[0:7]=="company":
                k="Stdcode"
            else:
                k="Phone"
            for i1 in df[k]:
                if i1[0]!="9" or i1[0]!="8":
                    numbers3.add("080-"+i1)
                else:
                    numbers3.add(i1)
        except:
            print("A"+filename)
    except:
        print(folder_path+"\\"+filename)
        
print(len(numbers3))

aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
Acompanywithmgt_20210712 (1).csv
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
2709

In [70]:
test= pd.read_csv("E:\Data Base\\Fandoo data\\companywithmgt_20210707 (7).csv",encoding='latin-1')
print(type(test.iloc[2,27]))

<class 'str'>

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\HP\AppData\Local\Temp\ipykernel_6940\2488976077.py:1: SyntaxWarning: invalid escape sequence '\D'
  test= pd.read_csv("E:\Data Base\\Fandoo data\\companywithmgt_20210707 (7).csv",encoding='latin-1')

In [71]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

result = set1.union(set2)

print(result)

{1, 2, 3, 4, 5}

In [72]:
numbers1=numbers1|numbers2|numbers3
phone_df = pd.DataFrame(list(numbers1), columns=['Mobile numbers'])

print(phone_df.shape)

phone_df.to_excel("E:\\Data Base\\Fandoo data\\Example1.xlsx",index=False)

(7113, 1)

In [33]:
df = pd.read_excel(folder_path+"\\"+XLSX[1],engine="openpyxl")
k=df.shape
i=7
print(k)
email_id_col=0
while i<k[0]:
    row=df.iloc[i]
    found=False
    for j in range(len(row)):
        l=row.iloc[j]
        if type(l)==str:
            if "@" in l :
                email_id_col=j
                break
    i+=1
    if found:    
        break
email_id_col

(32, 38)

9

In [38]:
emails1=set()
emails2=set()
emails3=set()
email_id_col=0
for filename in XLSX:
    try:
        df = pd.read_excel(folder_path+"\\"+filename)
        k=df.shape
        i=0
        while i<k[0]:
            row=df.iloc[i]
            found=False
            for j in range(len(row)):
                l=row.iloc[j]
                if type(l)==str:
                    if "@" in l:
                        email_id_col=j
                        break
            i+=1
            if found:    
                break
        for i1 in range(k[0]):
            if "@" in df.iloc[i1,email_id_col] :
                emails1.add(df.iloc[i1,email_id_col])
    except:
        print(folder_path+"\\"+filename)

email_df = pd.DataFrame(list(emails1), columns=['Mobile numbers'])
email_df.to_excel("E:\\Data Base\\Fandoo data\\Example1.xlsx",index=False)

E:\Data Base\Fandoo data\AceInput - Loreal- Apr-Jun 2021.xlsx
E:\Data Base\Fandoo data\AceInput_Jun_09_2021 (1).xlsx
E:\Data Base\Fandoo data\Combined list of all unicorns.xlsx
E:\Data Base\Fandoo data\IMP DATA.xlsx
E:\Data Base\Fandoo data\KAR- Dealer list (1).xlsx
E:\Data Base\Fandoo data\Pradeep T3 Master_Distribution_Final Unified Format_ SOUTH1.xlsx
E:\Data Base\Fandoo data\Q1 2020-21 SO CDMS Tagging FINAL FOR CPS.xlsx
E:\Data Base\Fandoo data\South Region_ T3 Tracker SEP.xlsx
E:\Data Base\Fandoo data\South Region_ T3 Tracker.xlsx
E:\Data Base\Fandoo data\South1 Region_ T3 Tracker updated (1).xlsx
E:\Data Base\Fandoo data\SP road.xlsx
E:\Data Base\Fandoo data\TAM reporting Format_ASO_Distribution Business Only - South1 Wrk1 final.xlsx
E:\Data Base\Fandoo data\TAM South1  3-Sep 2020 - Final.xlsx
E:\Data Base\Fandoo data\TAM South1-Sep 2020.xlsx
E:\Data Base\Fandoo data\TUMkur.xlsx
E:\Data Base\Fandoo data\Example.xlsx

c:\Users\HP\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

E:\Data Base\Fandoo data\AREAWISE DEALERS .xlsx
E:\Data Base\Fandoo data\Fandoo data numbers.xlsx

In [34]:
for filename in XLS:
    try:
        df = pd.read_excel(folder_path+"\\"+filename)
        k=df.shape
        i=0
        while i<k[0]:
            row=df.iloc[i]
            found=False
            for j in range(len(row)):
                l=row.iloc[j]
                if type(l)==str:
                    if "@" in l:
                        email_id_col=j
                        break
            i+=1
            if found:    
                break
        for i1 in range(k[0]):
            if "@" in df.iloc[i1,email_id_col] :
                emails1.add(df.iloc[i1,email_id_col])
    except:
        print(folder_path+"\\"+filename)

E:\Data Base\Fandoo data\Copy of Bangalore_Master_Data 123(1).xls
E:\Data Base\Fandoo data\Customer karthick.xls
E:\Data Base\Fandoo data\SP ROAD Bangalore_Master_Data 123 (1).xls

In [36]:
for filename in CSV:
    try:
        df = pd.read_csv(folder_path+"\\"+filename,encoding="latin-1")
        k=df.shape
        i=0
        while i<k[0]:
            row=df.iloc[i]
            found=False
            for j in range(len(row)):
                l=row.iloc[j]
                if type(l)==str:
                    if "@" in l:
                        email_id_col=j
                        break
            i+=1
            if found:    
                break
        for i1 in range(k[0]):
            if "@" in df.iloc[i1,email_id_col] :
                emails1.add(df.iloc[i1,email_id_col])
    except:
        print(folder_path+"\\"+filename)

In [37]:
emails1=emails1|emails2|emails3
print(len(emails1))
email_df = pd.DataFrame(list(emails1), columns=['Mobile numbers'])
email_df.to_excel("E:\\Data Base\\Fandoo data\\Example1.xlsx",index=False)

13825